:root {
  --azul: #4B858E;
  --blanco: white;
  --negro: #000;
  --amarillo: #ECCF6F;
}
@font-face {
	font-family: Montserrat-bold;
	src: url(../fonts/montserrat.bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: Monserrat-italic;
	src: url(../fonts/Montserrat-Italic.ttf);
	font-display: swap;
}
/* HERO*/
html,
body {
                background-color: var(--blanco) !important;
                font-family: Monserrat-italic;
}

main {

                height: 500px;
}

.logotipo {
                background-image: url("../img/Logo.png");
}

.navbares {
                height: 100px;
                padding-top: 50px;
                padding-bottom: 50px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
}

.text-principal-gracias {
                font-size: 35px;
                font-family: Monserrat-italic;
                font-weight: bold;
                color: var(--azul);
                text-align: center;
}

.text-sub-gracias {
                font-size: 25px;
                font-family: Montserrat-bold;
                font-weight: bold;
                color: var(--amarillo);
                text-align: center;
                width: 850px;
                margin-right: auto;
                margin-left: auto;

}

.container-margen {
                margin-top: 150px;
}

@media (min-width: 539px) and (max-width: 768px) {
                .container-margen {
                                margin-top: 50px;
                }

                .text-sub-gracias {
                                font-size: 25px;
                                margin-top: 20px;
                                width: 750px;
                                }
}

@media (min-width: 426px) and (max-width: 540px) {
                .container-margen {
                                margin-top: 80px;
                }

                .text-sub-gracias {
                                width: 310px;
                }

                .navbares {
                                padding-top: 20px;
                                padding-bottom: 20px;
                }
}

@media (min-width: 320px) and (max-width: 425px) {
                .container-margen {
                                margin-top: 50px;
                }
.text-principal-gracias {
                font-size: 30px;
}
                .text-sub-gracias {
                                font-size: 20px;
                                margin-top: 50px;
                                width: 310px;
                                

                }

                .navbares {
                                padding-top: 20px;
                                padding-bottom: 20px;
                }
}