:root {
	--azul: #5F838C;
	--azul-claro: #4B858E;
	--blanco: white;
	--negro: #000;
	--amarillo: #ECCF6F;
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/montserrat.regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: Monserrat-bold;
	src: url(../fonts/Montserrat-Bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: Effra Light;
	src: url(../fonts/Effra-Light.ttf);
	font-display: swap;
}

@font-face {
	font-family: effra;
	src: url(../fonts/Effra_Rg.ttf);
	font-display: swap;
}

@font-face {
	font-family: effra-bold;
	src: url(../fonts/Effra-Bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: effra-heavy;
	src: url(../fonts/Effra-Heavy.ttf);
	font-display: swap;
}

/* HERO*/

html,
body {
	background-color: var(--blanco);
	font-size: 10px;
	font-family: Monserrat;
}



.logotipo {
	background-image: url("../img/Logo.svg");
}

#hero {
	height: 575px;
	min-height: 1080px;
	max-height: 1200px;
	background-color: var(--blanco);
	border: 1px solid var(--blanco);
}

.img-3 {
	width: 100%;
}

.salon {
	text-align: center;
	color: var(--blanco);
	font-size: 24px;
	line-height: 17px;
	font-family: effra-bold;
	height: 74px;
	background-color: var(--azul);
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.textos-bars {
	color: white;
	font-size: 38px;
	line-height: 48px;
	font-family: effra-heavy;
	font-style: normal;
}

.navbares {
	background-color: var(--blanco);
	height: 130px;
	/* padding-top: 10px;
	padding-bottom: 10px; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid var(--blanco);
}
.navbares-sec2 {
	background-color: var(--blanco);
	height: 70px;
	/* padding-top: 10px;
	padding-bottom: 10px; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	padding-right: 26px;
}


.hi {
	min-height: inherit;
	max-height: inherit;
	border: 1px solid var(--blanco);
	margin-top: -19px;
}

.container {
	max-width: 1440px;
}

.hero-title {
	font-family: Monserrat-bold;
	color: var(--azul);
	font-size: 28px;
	margin-top: 0;
	text-transform: uppercase;
}

.hero-content-details {
	margin-top: 70px;
	/* padding-bottom: 172px; */
}

.hero-text {
	font-family: Montserrat;
	font-size: 16px;
	color: var(--azul);
	margin-bottom: 30px;
	text-transform: uppercase;
}

.hero-text-p {
	font-family: effra;
	font-size: 18px;
	color: var(--azul);
	margin-bottom: 30px;
	margin-top: 60px;
}

.logo {
	margin-top: 40px;
	width: 300px;
}

.carousel-indicators .active {
	opacity: 1;
	background-image: url(../img/carrousel/active.svg) !important;
}

.carousel-indicators li {
	box-sizing: content-box;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 14px;
	height: 14px;
	margin-right: 16px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	/* background-color: rebeccapurple; */
	background-image: url(../img/carrousel/no-active.svg) !important;
	background-size: cover;
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .5;
	transition: opacity .6s ease;
}

.button-red {
	color: var(--azul);
	background-color: var(--amarillo);
	width: 80%;
	height: 42px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Monserrat-bold;
	font-size: 14px;
	line-height: 18px;
	border-radius: 50px;
	border: 1px solid var(--amarillo);
}

.button-detalles {
	color: var(--blanco);
	background-color: var(--amarillo);
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: effra-bold;
	font-size: 16px;
	line-height: 19px;
	border-radius: 50px;
	border: 1px solid var(--amarillo);
}

.button-edificio {
	color: var(--blanco);
	background-color: var(--azul);
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: effra-bold;
	font-size: 16px;
	line-height: 19px;
	border-radius: 50px;
	border: 1px solid var(--azul);
}



.form-group {
	margin-bottom: 18px;
	margin-left: -12px;
}
.form-text {
    margin-bottom: 12px;
    margin-top: 0;
}

/* FORMuLARIO */
.hero-form-content {
	/* padding: 30px; */
	padding: 34px 0 34px 0;
	background-color: var(--azul);
	border-radius: 11px;
	width: 278px;
	margin-left: auto;
	margin-bottom: 118px;
	margin-top: 40px;
	text-align: center;
}

.ctr-m,
.ctr-h {
	border-radius: 0px;
	font-size: 14px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.2rem;
	/* margin-top: -10px; */
}

.ctr-h {
	border: 0px solid #bcbbbb;
}

.ctr-m {
	background-color: transparent;
	color: #989898;
	margin-bottom: 35px;
}
.error {
	color: red;
	margin-bottom: 0;
}

input {
	height: 35px;
	background-color: var(--blanco);
	color: var(--azul) !important;
	border-radius: 5px !important;
	font-size: 14px;
	line-height: 17px;
	font-family: Montserrat;
	width: 240px;
}
textarea {
	height: 100px;
	background-color: var(--blanco);
	color: var(--azul) !important;
	border-radius: 5px !important;
	font-size: 14px;
	line-height: 17px;
	font-family: Montserrat;
	width: 240px;
}
::-webkit-input-placeholder {
	-webkit-text-security: none;
	color: var(--azul) !important;
	pointer-events: none !important;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 2.02px;
	font-family: Montserrat;
	
}

.hero-form-content-movil {
	padding: 20px 40px;
	background-color: var(--azul);
	border-radius: 10px;
	max-width: 480px;
	margin: auto;
}

#formulario-movil {
	padding: 40px 15px;
	background-color: var(--azul);
}

.hero-form-title {
	font-size: 14px;
	line-height: 18px;
	font-family: Monserrat-bold;
	font-weight: 700;
	text-align: center;
	color: var(--blanco);
	text-transform: uppercase;
}
/*CARDS*/

#cards {
	/* padding-bottom: 50px; */
	padding-top: 26px;
	background-color: var(--blanco);
	border: 1px solid var(--blanco);
	box-sizing: border-box;
}

.text-title-cards {
	color: var(--azul);
	text-align: center;
	font-size: 34px;
	line-height: 43px;
	font-family: Monserrat-bold;
	margin-bottom: 42px;
	text-transform: uppercase;
}

.text-title-ubicacion {
	color: var(--amarillo);
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	font-family: Monserrat-bold;
	margin-bottom: 50px;
}

.text-title-caja1 {
	color: var(--amarillo);
	text-align: center;
	font-size: 28px;
	line-height: 37px;
	font-family: Monserrat-bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.text-title-caja2 {
	color: var(--amarillo);
	text-align: center;
	font-size: 28px;
	line-height: 34px;
	font-family: Montserrat;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.img-tam-card {
	height: 220px;
}
.img-cards-1 {
	background-image: url(../img/cards/img1.jpg);
	background-size: cover;
	background-position: center center;
}
.img-cards-2 {
	background-image: url(../img/cards/img2.jpg);
	background-size: cover;
	background-position: center center;
}
.img-cards-3 {
	background-image: url(../img/cards/img3.jpg);
	background-size: cover;
	background-position: center center;
}
.img-cards-4 {
	background-image: url(../img/cards/img4.jpg);
	background-size: cover;
	background-position: center center;
}
.img-cards-5 {
	background-image: url(../img/cards/img5.jpg);
	background-size: cover;
	background-position: center center;
}

.img-tam-1 {
	width: 100%;
	height: 532px;
}

.img-tam-2 {
	width: 100%;
	height: 606px;
}

.img-padding {
	padding: 0 !important;

}

.color-font {
	background-color: var(--blanco);
}

.contenido {
	width: 100%;
	max-width: 600px;
	padding: 25px 50px 10px;
	border-width: 1px;
	border-style: dashed dotted;
	border-color: blue red green orange;
	/* margin: 0 auto; */
}

.caja-text-1 {
	height: inherit;
	width: 500px;
	margin: 0 auto;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 180px;
	padding-bottom: 180px;
	padding-bottom: 0;
	text-align: center;
}

.caja-text-2 {
	height: inherit;
	width: 520px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 110px;
	padding-bottom: 110px;
	padding-bottom: 0;
	text-align: center;
}

.card {
	padding: 8px 8px 20px 8px;
		height: 437px;
	background-color: var(--azul) !important;
	padding: 0 !important;
	width: 272px;

}
.wrap {
	padding: 0;
	margin: 0;
	display: grid;
	/* grid-auto-columns: 272px; */
	grid-auto-flow: column;
	justify-content: space-around;
}

.titulo-card {
	padding-top: 10px;
	color: var(--amarillo);
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-family: Monserrat-bold;
	text-transform: uppercase;
}
.card-title {
	margin-bottom: -13px;
}

.parrafo-card {
	color: var(--blanco);
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	font-family: Montserrat;
	height: 50px;
}

.parrafo-card-precio {
	color: var(--azul);
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	font-family: effra;
	font-style: normal;
	font-weight: 400;
}

.boton-card,
.boton-card:hover,
.boton-card:focus .boton-card:active {
	background-color: var(--azul);
	color: var(--white);
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-family: Monserrat-bold;
	border-radius: 50px;
	height: 50px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-color: var(--azul);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.columna {
	grid-column: 1;
	grid-row: 2 / 5;
}

.columna-2 {
	grid-column: 2;
	grid-row: 2 / 5;
}

.columna-3 {
	grid-column: 3;
	grid-row: 2 / 5;
}

.columna-4 {
	grid-column: 4;
	grid-row: 2 / 5;
}

.columna-5 {
	grid-column: 5;
	grid-row: 2 / 5;
}

/*SECCION AMENIDADES*/

.img-tam {
	background-size: cover;
	background-color: var(--negro);
	height: 400px;
}

.margen {
	margin-right: -15px;
}

.text-amenidades {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--blanco);
	font-size: 41px;
	line-height: 49px;
	font-family: effra-heavy;
	font-style: normal;
}

/*SERVICIOS*/

#servicios {
	padding-bottom: 50px;
	background-color: var(--blanco);
	box-sizing: border-box;
}

.break {
	display: none;
}

.forma {
	width: 50px;
	height: 100px;
}

.navbar-aviso {
	background-color: var(--amarillo);
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.text-servicios {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--white);
	font-size: 38px;
	line-height: 48px;
	font-family: effra;
	font-style: normal;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

.text-sub-servicios {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--azul);
	font-size: 24px;
	line-height: 29px;
	font-family: effra-heavy;
	font-style: normal;
	margin-top: 50px;
	margin-bottom: 50px;
}

.espacio {
	width: 10px;
}

.text-p-servicios {
	text-align: center;
	color: var(--azul);
	font-size: 20px;
	line-height: 29px;
	font-family: effra-bold;
	font-style: normal;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.caja {
	width: 180px;
	display: inline-block;
	text-align: center;
}

.img-servicios {
	margin-bottom: 10px;
}

.br-espacio {
	display: none;
}

/*Ubicacion*/

#ubicacion {
	box-sizing: border-box;
	/* height: 800px; */
}

.navbares-ubicacion {
	background-color: var(--azul);
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navbares-botton-cards {
	/* background-color: var(--blanco); */
	height: 190px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	text-align: center;
}

.text-ubicacion {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--white);
	font-size: 24px;
	line-height: 29px;
	font-family: effra-heavy;
	font-style: normal;
	margin-top: 20px;
	margin-bottom: auto;
}

.button-card {
	color: var(--blanco);
	background-color: var(--azul);
	width: 14% !important;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: effra-bold;
	font-size: 16px;
	border-radius: 50px;
	border: 1px solid transparent;
	margin-top: 20px;
	margin-bottom: 20px;
}

.back-ubicacion {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.caja-ubicacion {
	width: 400px;
	margin-top: 110px;
	margin-bottom: 110px;
}

.parrafo-ubicacion {
	color: var(--blanco);
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	font-family: Monserrat-bold;
}

.parrafo-caja1 {
	color: var(--blanco);
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Montserrat;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.parrafo-caja2 {
	color: var(--azul);
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: Montserrat;
	/* text-transform: uppercase; */
	margin-bottom: 50px;
}

.margenes {
	margin-left: -30px;
}

/* FOOTER*/

.text-aviso {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--white);
	font-size: 16px;
	line-height: 19px;
	font-family: effra;
	font-style: normal;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

.text-aviso:hover,
.text-aviso:active,
.text-aviso:focus {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--azul);
	font-size: 16px;
	line-height: 19px;
	font-family: effra;
	font-style: normal;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

.contenedor {
	width: 100%;
	padding-right: 100px;
	padding-left: 100px;
	margin-right: auto;
	margin-left: auto;
}

.button-form {
	width: initial;
	padding-left: 20px;
	padding-right: 20px;
}

.desktop-none {
	display: none;
}

/* .position {
	position: absolute;
	top: 570px;
	left: 660px;
} */

.position {
	position: absolute;
	top: 570px;
	left: 620px;
}

.color {
	background-color: var(--azul);
}

.position-hero {
	position: absolute;
	top: 0;
	margin-left: 23px;
	/* left: 143px; */
}

.position-form-2 {
	position: absolute;
	bottom: 44px;
	right: 0;
}

.position-form-3 {
	position: absolute;
}

.position-form-4 {
	position: absolute;
	top: 20px;
	right: 20px;
}

.img-form-2 {
	height: 58px;
	width: 188px;
}

.img-form-4 {
	height: 170px;
	width: 57px;
}
.carousel-inner {
	position: relative;
	width: 668px;
	overflow: hidden;
}


@media screen and (max-width:2560px) {

.parrafo-card {
	height: 50px;
}

.position-form-3 {
		position: absolute;
		top: 60px;
		left: -66px;
	}

	.position-form-4 {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.wrapper {
		display: grid;
		grid-template-columns: repeat(5, 6fr);
		gap: 10px;
		grid-auto-rows: minmax(100px, auto);
		margin-top: -150px;
	}

	.columna {
		grid-column: 1;
		grid-row: 3 / 5;
	}

	.columna-2 {
		grid-column: 2;
		grid-row: 3 / 5;
	}

	.columna-3 {
		grid-column: 3;
		grid-row: 3 / 5;
	}

	.columna-4 {
		grid-column: 4;
		grid-row: 3 / 5;
	}

	.columna-5 {
		grid-column: 5;
		grid-row: 3 / 5;
	}

	.position {
		position: absolute;
		top: inherit;
		left: 620px;
	}

	#hero {
		height: 594px;
		min-height: 500px;
		max-height: 1200px;
		background-color: var(--blanco);
	}

	#principal {
		background-color: var(--azul);
		margin-left: 0;
		margin-right: 0;
	}

	.conten {
		width: 1440px;
		margin-right: auto;
		margin-left: auto;
		align-content: center;
		box-shadow: 0 9px 0px 0px white,
			0 -9px 0px 0px white,
			12px 0 15px -4px rgba(112, 112, 112, 0.8),
			-12px 0 15px -4px rgba(112, 112, 112, 0.8);
	}

	.hero-form-content {
		padding: 34px 30px 34px 30px;
		width: 278px;
		margin-bottom: 118px;
		margin-top: 40px;
		/* height: 444px; */

	}
	/* .hero-form-content {
		width: 278px;
		margin-bottom: 50px;
		margin-top: 50px;
		height: 438px;
	} */
	.img-tam {
		background-size: inherit;
		background-color: var(--negro);
		height: 400px;
		background-position: top center;
		background-repeat: no-repeat;
	}

	.carousel-indicators {
		position: absolute;
		right: 0;
		bottom: -62px;
		left: 0;
		z-index: 15;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		padding-left: 0;
		margin-right: 15%;
		margin-left: 15%;
		list-style: none;
	}

	.card {
		height: 440px;
	}

	.iframe {
		height: 100%;
		width: 104%;
	}
		.contenedor {
			width: 100%;
			padding-right: 140px;
			padding-left: 140px;
			margin-right: auto;
			margin-left: auto;
		}
		.form-group {
			margin-bottom: 18px;
			margin-left: -12px;
		}
		.button-img {
			width: initial;
			padding-left: 40px;
			padding-right: 40px;
		}
		.img-form-6{
			    width: 100px;
			    height: 60px;
		}
		.position-form-6{
			position: absolute;
			left: 2px;
			top: 379px;
		}

}

@media screen and (max-width: 1440px) {
	.hero-content-details {
		margin-top: 70px;
		/* padding-bottom: 172px; */
	}
	.hi {
			min-height: inherit;
			max-height: inherit;
			border: 1px solid var(--blanco);
		}
	.contenedor {
		width: 100%;
		padding-right: 140px;
		padding-left: 140px;
		margin-right: auto;
		margin-left: auto;
	}
		/* .position-hero {
			position: absolute;
			top: 0;
			left: 166px;
		} */
	.position-form-3 {
		top: 70px;
		left: -90px;
	}

	.iframe {
		width: 105%;
	}

	.margenes {
		margin-left: -30px;
	}

	.button-detalles {
		width: 50%;
	}

	.button-edificio {
		width: 50%;
	}

	.card {
		padding: 8px 8px 20px 8px;
		height: 440px;
		width: 272px;
	}

	.carousel-inner {
		position: relative;
		width: 668px;
		overflow: hidden;
	}

	.conten {
		width: auto;
	}

	.display-f {
		display: flex !important;
		align-items: flex-start !important;
	}

	#hero {
		height: 590px;
		min-height: 550px;
		max-height: 1200px;
	}

	.carousel-indicators {
		position: absolute;
		right: 0;
		bottom: -60px;
		left: 0;
		z-index: 15;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		padding-left: 0;
		margin-right: 15%;
		margin-left: 15%;
		list-style: none;
	}

	.hero-form-content {
				padding: 30px;
		width: 278px;
		margin-bottom: 50px;
		margin-top: 50px;
		/* height: 438px; */
	}
	
	.form-group {
		margin-bottom: 15px;
		margin-left: 0;
	}

	.padding-d {
		padding-right: 40px;
		padding-left: 40px;
	}

	.parrafo-card {
		height: 50px;
	}

	input {
		width: 220px;
	}
	textarea {
		width: 220px;
	}

	.position {
		position: absolute;
		top: 557px;
		left: 620px;
	}
	.position-hero {
		left: 43px;
		margin-left: 0;
	}
		#cards {
			padding-top: 26px;
		}

		.text-title-cards {
			margin-bottom: 42px;
		}
}

@media screen and (max-width: 1400px) {
		.form-group {
			margin-bottom: 15px;
			margin-left: 0;
		}
	.iframe {
		width: 100%;
	}

	.margenes {
		margin-left: 0;
	}

	.card {
		padding: 8px 8px 20px 8px;
		height: 437px;
		width: 245px;
	}

	.position {
		position: absolute;
		top: 547px;
		left: 600px;
	}

	.padding-d {
		padding-right: 40px;
		padding-left: 40px;
	}

	#hero {
		height: 625px;
		min-height: 500px;
		max-height: 1000px;
	}

	.hero-content-details {
		/* padding-left: 120px; */
		margin-top: 40px;
	}

	.contenedor {
		padding-right: 80px;
		padding-left: 80px;
	}

	.hero-form-content {
		padding: 40px 20px;
		max-width: 278px;
	}

	.ctr-h {
		margin-bottom: 0;
	}

	.hero-form-content-movil {
		padding: 40px 30px;
		background-color: #f8f8f8;
		border-radius: 10px;
		max-width: 480px;
		margin: auto;
	}

	.logo {
		margin-top: 40px;
		width: 270px;
		margin-left: 50px;
	}

	.button-red {
		width: 80%;
	}

	.titulo-card {
		padding-top: 20px;
		height: 50px;
	}

}

@media screen and (max-width: 1100px) {
	.position-hero {
		left: 12px;
	}
	.wrap {
		padding: 0;
		margin: 0;
		display: grid;
		grid-auto-columns: 188px;
		grid-auto-flow: column;
		justify-content: space-around;
	}
		.card {
			padding: 8px 8px 20px 8px;
			height: 450px;
			width: 188px;
		}
	.iframe {
		width: 102%;
	}

	.caja-text-1 {
		height: inherit;
		width: 450px;
		margin: 0 auto;
		padding-right: 30px;
		padding-left: 30px;
		padding-bottom: 0;
		text-align: center;
	}

	.caja-text-2 {
		height: inherit;
		width: 420px;
		margin: 0 auto;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 65px;
		padding-bottom: 65px;
		text-align: center;
	}



	.titulo-card {
		height: 40px;
	}

	.position {
		position: absolute;
		top: 523px;
		left: 412px;
	}

	.parrafo-card {
		height: 80px;
	}

	.hero-form-content {
		padding: 40px 20px;
		max-width: 350px;
	}

	.contenedor {
		padding-right: 50px;
		padding-left: 50px;
	}

	.carousel-inner {
		position: relative;
		width: 568px;
		overflow: hidden;
	}

	#hero {
		height: 600px;
		min-height: 500px;
		max-height: 1000px;
	}
	.card-title {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	
	.img-form-2 {
		height: 40px;
		width: 90px;
	}

	.img-form-4 {
		height: 100px;
	}

	.position-form-4 {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.iframe {
		width: 101%;
	}

	.text-title-ubicacion {
		font-size: 20px;
		line-height: 20px;
	}

	/* .parrafo-ubicacion {
		font-size: 15px;
		line-height: 15px;
	} */
	.button-detalles {
		width: 80%;
	}

	.button-edificio {
		width: 80%;
	}

	.caja-text-1 {
		width: 300px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.caja-text-2 {
		width: 300px;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.caja-ubicacion {
		width: 300px;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.titulo-card {
		height: 70px;
	}

	.parrafo-card {
		height: 70px;
	}

	.position {
		position: absolute;
		top: 523px;
		left: 284px;
	}
	.wrap {
		padding: 0;
		margin: 0;
		display: grid;
		grid-auto-columns: 140px;
		grid-auto-flow: column;
		justify-content: space-around;
	}
	.card {
		padding: 8px 8px 20px 8px;
		height: 500px;
		width: 140px;
	}

	.carousel-inner {
		position: relative;
		width: 368px;
		overflow: hidden;
	}

	#hero {
		height: 600px;
		min-height: 500px;
		max-height: 1000px;
	}

	.hero-content-details {
		padding-bottom: 50px;
	}

	.contenedor {
		padding-right: 0;
		padding-left: 0;
	}

	.hero-form-content-movil {
		padding: 40px 30px;
		background-color: #f8f8f8;
		border-radius: 10px;
		max-width: 480px;
		margin: auto;
	}

	input {
		width: 240px;
	}
	textarea {
		width: 240px;
	}

	.logo {
		margin-top: 40px;
		width: 200px;
		margin-left: 50px;
	}

	.hero-content-details {
		/* padding-left: 20px; */
	}

	.titulo-card {
		padding-top: 20px;
		text-align: center;
	}

	.parrafo-card {
		text-align: center;
		height: 110px;
	}

	.boton-card,
	.boton-card:hover,
	.boton-card:focus .boton-card:active {
		width: 90%;
	}

	.caja {
		width: 100px;
		display: inline-block;
		text-align: center;
	}

	.br-espacio {
		display: block;
	}

	.aviso {
		font-size: 1.7rem;
	}

	.logo {
		margin-left: 20px;
	}

	.navbares-ubicacion {
		background-color: var(--azul);
		height: 170px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.navbares-botton-cards {
		height: 170px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.desktop-none {
		display: none;
	}
	.position-hero {
		left: 35px;
		/* height: 95px; */
	}
	.tam-form-1 {
		height: 120px;
	}
}
/* @media screen and(max-width:720){
} */

@media screen and (max-width: 767px) {
		.display-f {
			display: none !important;
		}
	.tam-form-1 {
		height: 120px;
		display: none;
	}
	.back-ubicacion {
		height: 500px;
	}

	.iframe {
		width: 100vw;
		height: 400px;
	}

	.position-form-3 {
		top: -560px;
		left: -90px;
	}

	.caja-text-1 {
		width: 400px;
		height: 500px;
	}

	.hero-content-details {
		padding-bottom: 0;
	}

	#cards {
		padding-top: 0;
	}

	.text-title-cards {
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.navbares-botton-cards {
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 48px;
	}

	.boton-card,
	.boton-card:hover,
	.boton-card:focus .boton-card:active {
		width: 60%;
	}

	.hero-text {
		text-align: center;
	}

	.button-card {
		width: 70% !important;
	}

	.hero-title {
		margin-top: 20px;
		text-align: center;
	}

	.position-hero {
		position: absolute;
		top: 0;
		left: 0
	}

	.navbares-1 {
		background-color: var(--blanco);
		height: 190px;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid var(--blanco);
	}

	.padding-d {
		padding-right: 20px;
		padding-left: 20px;
	}

	#carouselExampleIndicators {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	#hero {
		height: 725px;
	}

	.carousel-inner {
		position: relative;
		width: 100%;
		overflow: hidden;
	}


	.desktop-none {
		display: block;
	}

	.movil-none {
		display: none !important;
	}

	.hero-form-content-movil {
		padding: 40px 20px;
	}

	.margen {
		margin-right: 0px;
	}

	.navbares {
		height: 100px;
	}
	.navbares-sec2 {
		height: 100px;
	}

	.navbar-aviso {
		height: 150px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: right !important;
	}

	.forma {
		width: 80px;
		height: 150px;
	}

	.alineacion {
		justify-content: right !important;
		text-align: right !important;
	}

	.margenes {
		margin-left: -15px;
	}

	.margin-img {
		margin-bottom: 20px;
	}

	.display-movil {
		display: none !important;
	}

	.navbares-ubicacion {
		background-color: var(--azul);
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.margen-ubicacion {
		margin-right: -15px;
	}

	.caja {
		width: 250px;
		display: inline-block;
		text-align: center;
		margin-bottom: 20px;

	}

	.espacio-s {
		display: inline-block;
	}

	.forma-movil {
		height: 100px;
		background-color: var(--blanco);
	}

	.forma-movil-2 {
		height: 100px;
		background-color: var(--azul);
	}

	.form-movil {
		background-image: url(../img/form-m.jpg);
		background-size: cover;
		height: 722px;
		padding-top: 60px;
	}

	.form-m {
		margin-top: 100px;
		margin-bottom: 50px;
	}
	.button-red {
		width: 70%;
		font-size: 16px;

	}

	.card {
		padding: 8px 8px 20px 8px;
		height: auto;
		width: auto;
		margin-bottom: 20px;
	}
	.hero-form-title {
		font-size: 24px;
		line-height: 28px;
	}
	input {
		width: 100%;
		font-size: 16px;
	}
	textarea {
		width: 100%;
		font-size: 16px;
	}

	::-webkit-input-placeholder {
		-webkit-text-security: none;
		color: var(--azul) !important;
		pointer-events: none !important;
		font-size: 16px;
		line-height: 17px;
		font-family: Montserrat-bold !important;
		font-weight: bold;

	}
	.form-m {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.back-ubicacion {
		height: 300px;
	}

	.text-title-ubicacion {
		font-size: 24px;
		line-height: 32px;
	}

	.caja-ubicacion {
		width: 400px;
	}
	.navbar-aviso {
		height: 80px;
	}
	.text-aviso {
		color: var(--azul);
	}
}

@media screen and (max-width: 425px) {
	.caja-text-2 {
		width: 370px;
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.text-title-caja2 {
		font-size: 22px;
		line-height: 27px;
	}

	.parrafo-caja2 {
		font-size: 22px;
		line-height: 27px;
	}

	.caja-text-1 {
		padding-top: 50px;
		height: 300px;
	}

	.card {
		height: 437px;
		width: 395px;
	}

	.parrafo-card {
		font-size: 22px;
		line-height: 27px;
		height: 80px;
	}

	.img-form-2 {
		height: 58px;
		width: 160px;
	}

	.position-form-3 {
		top: -560px;
		left: 0;
	}

	.hi {
		margin-top: -30px;
	}

	.navbares {
		height: 100px;

	}
	.navbares-sec2 {
		height: 100px;

	}

	.text-title-cards {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	#hero {
		height: 675px;
	}

	.titulo-card {
		font-size: 24px;
		line-height: 32px;
		height: 30px;
	}

	.navbares-botton-cards {
		height: 150px;
		margin-bottom: 20px;
		padding: 0;
		display: flex;
		align-items: center;
	}

	.img-servicios {
		margin-bottom: 10px;
		width: 100px;
		height: 100px;
	}

	.caja {
		width: 120px;
		display: inline-grid;
		text-align: center;
	}
}

@media screen and (max-width: 411px) {
	.caja-text-1 {
		width: 390px;
	}
	.card {
		width: 100%;
	}
	.button-red {
		width: 80%;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 22px;
		border-radius: 50px;
	}
}

@media screen and (max-width: 375px) {
	.titulo-card {
		font-size: 20px;
		line-height: 32px;
		height: 20px;
	}
	.caja-text-1 {
		width: 350px;
	}
	.hero-content-details {
		padding-top: 0;
		margin-top: 0;
	}

	#hero {
		height: 620px;
	}

	.parrafo-card {
		text-align: center;
		font-size: 14px;
		line-height: 17px;
		height: 40px;
	}

	.hero-title {
		margin-top: 30px;
	}

	.navbares {
		height: 120px;
	}
	.navbares-sec2 {
		height: 120px;
	}

	.button-red {
		width: 90%;
	}
}

@media screen and (max-width: 320px) {
	.text-title-cards {
		font-size: 30px;
	}
	.back-ubicacion {
		height: 450px;
	}
	.hero-title {
		margin-top: 150px;
	}
	.titulo-card {
		font-size: 18px;
		line-height: 30px;
	}
	.navbares-1 {
		height: 100px;
	}

	#hero {
		height: 850px;
	}
	.caja-text-1 {
		width: 290px;
		height: 350px;
	}
	.caja-text-2 {
		width: 290px;
	}
	.parrafo-card {
		height: 60px;
	}
	.navbares {
		height: 120px;
	}
	.navbares-sec2 {
		height: 120px;
	}
}
